body {
    margin: 0;
    height: 100vh; /* Asegura que el cuerpo tenga la altura completa de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: #f0f0f0; /* Color de fondo opcional */
}

.juego{
    width: 800px; /* Ancho del contenedor */
    height: 600px; /* Alto del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
}